body {
    
    top: 0px;
    left: 0px;
    width: 1600px;
height: 1195px;
    
    background: #a7b9bb 0% 0% no-repeat padding-box;



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-top: 35px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #062736;
    top: 18px;
    left: 18px;
    width: 1564px;
    height: 72px;
    color: wheat;


background: #366693 0% 0% no-repeat padding-box;
border-radius: 70px;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #a59999;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-links a:hover, .nav-links a.active {
    background-color: #00e0c6;
    color: white;
    background: #01F0D0 0% 0% no-repeat padding-box;
border-radius: 41px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    
}

.profile-info span {
    font-weight: bold;
}

.profile-info p {
    font-size: 12px;
    color: #777;
}

.settings-icon {
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.settings-icon i {
    font-size: 18px;
}
.settings img {
    top: 44px;
left: 1515px;
width: 19px;
height: 20px;
}
.fa img {
    top: 20px;
    left: 154px;
    width: 4px;
    height: 10px;
}


.chat-img img {
top: 46px;
left: 889px;
width: 19px;
height: 17px;
/* UI Properties */

}
li {
    justify-content: space-between;
}
li a img {
    margin-right: 9px; 
}
.chat-history {
    margin-top: 40px;
    margin-left: 20px;
    top: 122px;
left: 18px;
width: 367px;
height: 1054px;
background: #4a5972 0% 0% no-repeat padding-box;
border-radius: 16px;
}
.search-button img {
top: 150px;
left: 347px;
width: 18px;
height: 18px;
/* UI Properties */
background: transparent url('img/search_FILL0_wght300_GRAD0_opsz24.png') 0% 0% no-repeat padding-box;
opacity: 1;
color: white;
}

.members {
/* top: 215px;
left: 38px; */
width: 317px;
height: 48px;
margin-left: 20px;
display: flex;
margin-top: 23px;


}
.min {
    min-width: 145px;

}

.members img {
top: 215px;
left: 38px;
width: 48px;
height: 48px;
background: transparent;

}
.members h5 {
top: 218px;
left: 98px;
width: 97px;
height: 19px;
margin-left: 10px;
font: normal normal bold 14px/19px Manrope;
letter-spacing: 0px;
color: #072635;


}
.members p {
top: 241px;
left: 98px;
width: 66px;
height: 19px;
font: normal normal normal 14px/19px Manrope;
letter-spacing: 0px;
color: #707070;
opacity: 1;
margin-left: 10px;

   
}
.members-details {
    display: block;
}
.three img {
top: 237px;
left: 337px;
width: 18px;
height: 4px;
display: flex;
margin-left: 270px;
margin-top: -15px;


}
#mem-4 {
    top: 439px;
    left: 18px;
    width: 353px;
    height: 80px;
background-color: #D8FCF7;

}

.container {
    display: flex;
    flex-direction: row; 
    gap: 20px;
     }

.history {
    
/* left: 417px; */

width: 766px;
height: 673px;
background:  0% 0% no-repeat padding-box;
background: #533e3e 0% 0% no-repeat padding-box;
border-radius: 16px;

margin-top: 40px;
margin-left: 20px;
}
.graph {
left: 437px;
width: 726px;
height: 298px;
background: #F4F0FE 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
margin-left: 20px;
display: flex;
margin-top: 23px;
}
.pressure-h5 {
    width: 92px;
height: 19px;
color: #072635;
text-align: right;
font: normal normal normal 14px/19px Manrope;
letter-spacing: 0px;

}
.pressure-h5 img {
    width: 11px;
height: 6px;
}
.heart {
    padding-top: 20px;
    padding-left: 20px;
}
.div-heart {
    box-sizing:border-box;
    width: 228px;
    height: 242px;
    border-radius: 12px;
    display: inline-flex;
    margin: 5px;
    
}
.div-heart img {

    margin-top: 15px;
    margin-left: 12px;

 
width: 96px;
height: 96px;
background: transparent;
border-radius: 50%;
border: 2px solid #000; 
object-fit: cover;


}
.heart1{
    background-color: #E0F3FA;
    

}
.heart2{
    background-color: #FFE6E9;

}
.heart3{
    background-color: #FFE6F1;

}

.div-heart {
    padding-left: 12px;
    
    display:inline-flex;
    flex-direction: column;
}
.text {
    padding-left: 30px;
    padding-top: 10px;
}
.div-heart p {
    width: 46px;
height: 19px;
text-align: left;
color: #072635;
font: normal normal normal 14px/19px Manrope;
min-width: 120px;
}
.list {
    width: 766px;
height: 349px;
box-sizing:border-box;
box-sizing: 12px;
margin-top: 80px;
margin-left: 0px;

}
.table-container {
            width: 100%;
            overflow-x: auto;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(111, 3, 3, 0.1);
            margin: 20px auto;
            overflow-y: scroll; 
            margin: 20px auto;
            border: 1px solid #ddd;
            min-width: fit-content;
            
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
            font-family: Arial, sans-serif;
        }

        th, td {
            padding: 12px 15px;
            border-bottom: 1px solid #f4f4f4;
        }

        th {
            background-color: #fff7f7;
            color: #333;
            font-size: 16px;
        }

        td {
            font-size: 14px;
        }

        .highlight {
            background-color: #f5f5f5;
            color: #7700ff;
            padding: 2px 8px;
            border-radius: 12px;
            font-size: 12px;
        }

       
        .status-under-observation {
            color: #000000;
            font-weight: bold;
        }

        .status-cured {
            color: rgb(30, 0, 0);
            font-weight: bold;
        }

        .status-inactive {
            color: #000000;
            font-weight: bold;
        }

    
        @media screen and (max-width: 768px) {
            th, td {
                padding: 10px 8px;
                font-size: 14px;
            }

            .highlight {
                font-size: 10px;
            }
        }
.jessica {
    width: 367px;
height: 740px;
    /* display: flex; */
    margin-top: 35px;
    margin-left: 35px;
    background: #417781 0% 0% no-repeat padding-box;
border-radius: 16px;



}
.jessica-img img {
    margin-left: 60px;
    margin-top: 50px;
    width: 200px;
    height: 200px;

/* text-align: center; */

;}
.flex {
    display: inline-flex;
}

.details h4 {
    margin-top: 1px;
    font-style: bold;
    margin-left: 40px;
}
.details img {
    margin-left: 15px;
    width: 42px;
height: 42px;

}
.details {
    margin-top: 30px;
}
.info {
    font: normal normal medium 14px/19px Manrope;
letter-spacing: 0px;
color: #072635;
width: 84px;
height: 19px;
min-width: 200px;
}

.new {
    width: 367px;
height: 296px;
    margin-top: 30px;
    margin-left: 30px;

}
.lab-details h2 {
    width: 100px;
height:40px;
text-align: left;
font: normal normal normal 13px/18px Manrope;
letter-spacing: 0px;
color: #072635;
margin-left: 25px;
margin-top: 4px;
}
.lab-details {
    display: flex;
    width: 315px;
height: 40px;

}
.lab-details img {
    width: 20px;
height: 20px;
background: transparent;
margin-top: 5px;
}



.custom-button {
    background-color: #00ffe0;
    color: #000;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #00d8c0;
  }
 

  
 
  
  
  @media screen and (max-width: 768px) {
    .navbar,
    .container,
    .flex,
    .details {
      flex-direction: column;
      text-align: center;
    }
  
    
  }
  
 
  @media screen and (max-width: 1024px) {
    .navbar ul {
      flex-direction: column;
    }
  
    .container {
      flex-direction: column;
    }
  }
  .member :hover {
    
    color: #00e0c6;
    size: 40px;
  }